name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Descargar código
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Instalar dependencias
      run: |
        pip install --upgrade pip
        pip install pytest pytest-cov flake8 coverage wordfreq behave selenium

    - name: Revisar estilo de código
      run: |
        flake8 ahorcado.py --max-line-length=100

    - name: Ejecutar tests unitarios con coverage
      run: |
        coverage run -m pytest --maxfail=1 --disable-warnings

    - name: Ejecutar ATDD (Behave) con coverage
      run: |
        coverage run -a -m behave

    - name: Mostrar reporte de cobertura
      run: |
        coverage report -m

    - name: Generar reporte XML de cobertura
      run: |
        coverage xml

    - name: Guardar reporte de cobertura
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report
        path: coverage.xml